.njar-vrur-container,
.vi-fljgum-me {
  position: absolute;
  left: 254px;
  display: inline-block;
  width: 448px;
}
.njar-vrur-container {
  top: 120px;
  line-height: 48px;
  height: 48px;
}
.vi-fljgum-me {
  top: 198px;
  font-size: var(--large-body-size);
  line-height: 32px;
}
.skoa-njar-vrur {
  position: relative;
  line-height: 24px;
}
.button,
.text {
  position: absolute;
  overflow: hidden;
}
.button {
  top: 356px;
  left: 254px;
  border-radius: var(--br-8xs);
  background-color: var(--color-dimgray);
  border: 1px solid var(--black-coffee);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-mini);
  font-size: var(--small-size);
  color: var(--color-white);
}
.text {
  top: 0;
  left: 1px;
  width: 718px;
  height: 520px;
}
.voo-qqq-rsybi-1fhfm-unsplash-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 622px;
  height: 415px;
  object-fit: cover;
}
.photo {
  position: absolute;
  top: 120px;
  left: 733px;
  background-color: var(--color-sienna);
  width: 450px;
  height: 274px;
  overflow: hidden;
}
.contentnew-cta {
  align-self: stretch;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 520px;
  overflow: hidden;
  flex-shrink: 0;
}
.background-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 668px;
}
.nokkrar-af-njustu-container {
  position: absolute;
  top: 90px;
  left: 257px;
  line-height: 48px;
  display: inline-block;
  width: 563px;
  height: 48px;
}
.alexandre-debieve-fo7jilwjotu-icon {
  position: relative;
  width: 317px;
  height: 213px;
  object-fit: cover;
}
.product-image {
  width: 310px;
  height: 160px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-16xl) 0;
  box-sizing: border-box;
}
.tknilegt-murbor {
  position: absolute;
  top: 0;
  left: 3px;
  line-height: 32px;
  display: inline-block;
  width: 289px;
  height: 21px;
}
.ntt,
.title {
  position: relative;
}
.title {
  align-self: stretch;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--card-heading-size);
}
.ntt {
  line-height: 16px;
}
.new,
.tags {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.new {
  border-radius: var(--br-8xs);
  background-color: var(--color-lightgray);
  padding: var(--padding-8xs);
}
.tags {
  align-self: stretch;
  height: 26px;
  flex-shrink: 0;
  gap: var(--gap-3xs);
}
.kr {
  position: absolute;
  top: 0;
  left: 3px;
  line-height: 24px;
  display: inline-block;
  width: 289px;
  height: 21px;
}
.price {
  align-self: stretch;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--body-size);
}
.button1,
.product-card {
  border-radius: var(--br-8xs);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button1 {
  align-self: stretch;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-dimgray);
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-mini);
  color: var(--black-coffee);
}
.product-card {
  background-color: var(--color-white);
  width: 330px;
  height: 360px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-mini);
  box-sizing: border-box;
}
.alex-knight-2ejcsulrwc8-unspla-icon {
  position: relative;
  width: 318px;
  height: 212px;
  object-fit: cover;
}
.product-image1 {
  align-self: stretch;
  height: 160px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-16xl) 0;
  box-sizing: border-box;
}
.vinalegur-vinnurbot {
  position: absolute;
  top: 0;
  left: 3px;
  line-height: 32px;
  display: inline-block;
  width: 297px;
  height: 32px;
}
.markus-spiske-iar-afb0qqw-unsp-icon {
  position: relative;
  width: 383px;
  height: 256px;
  object-fit: cover;
}
.products {
  position: absolute;
  top: 154px;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
  gap: var(--gap-11xl);
  font-size: var(--small-size);
}
.productsnew {
  align-self: stretch;
  position: relative;
  height: 674px;
  overflow: hidden;
  flex-shrink: 0;
}
.strsta-vruhs-container,
.vruhsi-okkar-er {
  position: absolute;
  display: inline-block;
  width: 448px;
}
.strsta-vruhs-container {
  top: 120px;
  left: 0;
  line-height: 48px;
  height: 48px;
}
.vruhsi-okkar-er {
  top: 191px;
  left: 1px;
  font-size: var(--large-body-size);
  line-height: 32px;
}
.button5,
.text1 {
  position: absolute;
  overflow: hidden;
}
.button5 {
  top: 356px;
  left: 1px;
  border-radius: var(--br-8xs);
  background-color: var(--color-dimgray);
  border: 1px solid var(--black-coffee);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-mini);
  font-size: var(--small-size);
  color: var(--color-white);
}
.text1 {
  top: -24px;
  left: 735px;
  width: 628px;
  height: 520px;
}
.adrian-sulyok-scznlg6rrhq-unsp-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1108px;
  height: 739px;
  object-fit: cover;
}
.photo1 {
  position: absolute;
  top: 106px;
  left: 253px;
  background-color: var(--color-sienna);
  width: 450px;
  height: 274px;
  overflow: hidden;
}
.contentall-cta {
  align-self: stretch;
  position: relative;
  height: 520px;
  overflow: hidden;
  flex-shrink: 0;
}
.section-fill {
  position: absolute;
  top: 604px;
  left: 0;
  background-color: var(--black-coffee);
  width: 1440px;
  height: 70px;
  overflow: hidden;
}
.nokkur-dmi-r {
  position: absolute;
  top: 77px;
  left: 257px;
  line-height: 48px;
  display: inline-block;
  width: 954px;
  height: 48px;
}
.opening-hours-child {
  position: absolute;
  top: 41px;
  left: -1px;
  border-top: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 450px;
  height: 2px;
}
.opnunartmi {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 48px;
  display: inline-block;
  width: 233px;
  height: 41px;
}
.opi-alla-virka {
  margin: 0;
}
.opening-hours,
.text2 {
  position: absolute;
  width: 448px;
}
.text2 {
  top: 52px;
  left: 0;
  font-size: var(--body-size);
  line-height: 24px;
  color: var(--color-white);
  display: inline-block;
  height: 127px;
}
.opening-hours {
  top: 53px;
  left: 17px;
  height: 154px;
  overflow: hidden;
}
.hafu-samband {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 48px;
  display: inline-block;
  width: 424px;
  height: 41px;
}
.contact,
.other {
  position: absolute;
  top: 53px;
  left: 496px;
  width: 448px;
  height: 154px;
  overflow: hidden;
}
.other {
  left: 975px;
}
.copyright-child {
  position: absolute;
  top: 0.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 931px;
  height: 1px;
}
.copyright,
.tknibin-allur {
  position: absolute;
  width: 930px;
}
.tknibin-allur {
  top: 1px;
  left: 0;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37px;
}
.copyright {
  top: 232px;
  left: 255px;
  height: 38px;
  overflow: hidden;
  text-align: center;
  font-size: var(--small-size);
  color: var(--color-white);
}
.footer {
  position: relative;
  background-color: var(--black-coffee);
  width: 1441px;
  height: 270px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--secondary-heading-size);
  color: var(--color-gray-100);
}
.page-content {
  position: absolute;
  top: 565px;
  left: 0;
  width: 1440px;
  height: 2658px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.background-icon2,
.protection {
  position: absolute;
  top: 0;
  left: 0;
  height: 565px;
}
.background-icon2 {
  width: 1441px;
  object-fit: cover;
}
.protection {
  background-color: rgba(255, 255, 255, 0.5);
  width: 1440px;
  overflow: hidden;
}
.keyptu-grjunar-hj,
.tilbosvika {
  position: absolute;
  top: 176px;
  left: 254px;
  line-height: 192px;
  display: inline-block;
  width: 930px;
}
.keyptu-grjunar-hj {
  top: 380px;
  font-size: var(--main-heading-size);
  line-height: 48px;
  height: 53px;
}
.header-content {
  top: calc(50% - 282.5px);
  left: calc(50% - 720px);
  width: 1440px;
  height: 565px;
}
.header,
.header-content,
.logo-icon {
  position: absolute;
  overflow: hidden;
}
.header {
  top: calc(50% - 1611.5px);
  left: calc(50% - 720px);
  background-color: var(--color-white);
  width: 1440px;
  height: 565px;
  text-align: center;
  font-size: 160px;
}
.logo-icon {
  height: 50%;
  width: 7.71%;
  top: 25%;
  right: 88.44%;
  bottom: 25%;
  left: 3.85%;
  max-width: 100%;
  max-height: 100%;
}
.tknibin {
  position: absolute;
  height: 100%;
  width: 61.65%;
  top: 0;
  left: 14.13%;
  line-height: 40px;
  display: flex;
  align-items: center;
}
.logo-container,
.vector-icon {
  position: absolute;
  height: 100%;
  width: 41.2%;
  top: 0;
  right: 58.8%;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.vector-icon {
  height: 33.33%;
  width: 4.44%;
  top: 33.33%;
  right: 2.22%;
  bottom: 33.33%;
  left: 93.33%;
  max-width: 100%;
  max-height: 100%;
}
.leit-eftir-heiti {
  position: absolute;
  top: 7px;
  left: 6px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 328px;
  height: 25px;
  opacity: 0.6;
}
.frame1 {
  position: absolute;
  top: 10px;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 450px;
  height: 40px;
  overflow: hidden;
}
.cart-icon,
.frame,
.search {
  position: absolute;
  top: 0;
  overflow: hidden;
}
.search {
  height: 100%;
  width: 47.62%;
  right: 0;
  bottom: 0;
  left: 52.38%;
  font-size: var(--body-size);
  color: var(--black-coffee);
  font-family: var(--main-heading);
}
.cart-icon,
.frame {
  left: 0;
  width: 945px;
  height: 60px;
}
.cart-icon {
  height: 50%;
  width: 50%;
  top: 25%;
  right: 25%;
  bottom: 25%;
  left: 25%;
  max-width: 100%;
  max-height: 100%;
}
.cart-count-background,
.div {
  position: absolute;
  height: 33.33%;
  width: 33.33%;
  top: 53.33%;
  left: 13.33%;
}
.cart-count-background {
  right: 53.33%;
  bottom: 13.33%;
  border-radius: 50%;
  background-color: var(--color-dimgray);
}
.div {
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart {
  height: 100%;
  width: 12.89%;
  right: 0;
  bottom: 0;
  left: 87.11%;
}
.cart,
.categories,
.frame2,
.navigation {
  position: absolute;
  top: 0;
  overflow: hidden;
}
.categories {
  height: 100%;
  width: 70.92%;
  right: 29.08%;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--color-black);
}
.frame2,
.navigation {
  height: 60px;
}
.frame2 {
  left: 975px;
  width: 465.3px;
  text-align: center;
  font-size: var(--body-size);
  color: var(--color-gray-100);
  font-family: var(--main-heading);
}
.navigation {
  left: 0;
  width: 1440.3px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-lora);
}
.forsadesktop {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3223px;
  overflow: hidden;
  text-align: left;
  font-size: var(--main-heading-size);
  color: var(--color-black);
  font-family: var(--main-heading);
}
