body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body: Lato;
  --font-lora: Lora;

  /* font sizes */
  --body-size: 16px;
  --main-heading-size: 36px;
  --small-size: 14px;
  --secondary-heading-size: 32px;
  --card-heading-size: 22px;
  --large-body-size: 20px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: #fefefe;
  --black-coffee: #3c2a1e;
  --color-dimgray: #6f4e37;
  --color-lightgray: #e1cec2;
  --color-sienna: #682d2d;

  /* Gaps */
  --gap-11xl: 30px;
  --gap-3xs: 10px;

  /* Paddings */
  --padding-mini: 15px;
  --padding-3xs: 10px;
  --padding-8xs: 5px;
  --padding-16xl: 35px;

  /* Border radiuses */
  --br-8xs: 5px;
}
